<div class="container" >
  <% @tweets.each do |f| %>
  <%= f.user.name %>
    </br><%= f.description %></br>
    <%= image_tag (f.picture_url) %></br>
    <%= link_to "編集", edit_tweet_path(f)%>|<%= link_to "詳細",tweet_path(f),method: :get %></br></br>
  <% end %>
</div>