<div class="container" >
     <%= link_to @tweet.user.name, user_path(@tweet.user.id), method: :get %>
    </br><%= @tweet.description %></br>
    <%= image_tag (@tweet.picture_url) %></br></br>
    
    <% @comments.each do |c| %>
      <%= link_to c.user.name, user_path(c.user.id), method: :get %>
      <%= c.text %>
      <% if user_signed_in? && c.user_id==current_user.id %>
        <%= button_to "削除する", tweet_comment_path(c), method: :delete, data: { confirm: '削除しますか？' } %>
      <% end %></br></br>
    <% end %>
    
    <% if user_signed_in? %>
      <%=form_for [@tweet, @comment] do |f| %>
      <%= f.text_field :text %>
      <%= f.submit "コメントする" %>
      <% end %>
    <% end %>
    
    <%= link_to "戻る", root_path %>
</div>